.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  width: 30%;
  color: gray;
  justify-content: space-between;
  border-right: 1px solid gray;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
